body{
    text-align: center;
    background-color: rgb(235, 235, 235);
}

h1 {
    color: #B00020;
}

div#container {
    width: 80%;
    height: auto;
    display: inline-block;
    text-align: left;
    padding: 3%;
    margin: 0;
    font-size: 18px;
    line-height: 1.5em;
    background-color: white;
    overflow: hidden;
}

div.memo {
    color: black;
}

div.active{
    background-color: yellow;
}