body{
    text-align: center;
    background-color: rgb(235, 235, 235);
}

h1 {
    color: #B00020;
}


div#container {
    width: 80%;
    height: auto;
    display: inline-block;
    text-align: left;
    padding: 3%;
    margin: 0;
    font-size: 18px;
    line-height: 1.5em;
    background-color: white;
    overflow: hidden;
}

div.memo {
    overflow: hidden;
    color: black;
    padding: 5px;
    margin: 3px;
}

div.memo:hover {
    background-color: yellow;
}

div#last {
    background-color: lightgray;
}

div.content{
    flex: 1;
    float: left;
    width: calc(100% - 60px);
}


button.rm {
    float: left;
    max-height: 100%;
    height: auto;
    width: 60px;
    margin-top: auto;
}